name: Lint

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.6

    # - name: Lint with golangci-lint
    #   run: |
    #     make lint
